@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

button {
  cursor: pointer;
  outline: none;
}

.btn {
  @apply w-full p-2 mt-2  font-bold rounded-lg transition-all duration-300  bg-violet-600 text-white text-base shadow-lg hover:bg-gray-200 hover:text-violet-600;
}

.items {
  @apply grid grid-cols-4 gap-5 p-4;
}

.item {
  @apply border border-violet-400 w-64 max-h-96 rounded-md p-6 flex flex-col justify-center items-center gap-5 transition-all duration-300 hover:shadow-xl;
}

.image {
  @apply w-28 h-28 rounded-xl;
}

.title {
  @apply text-gray-900 font-medium text-base h-12 overflow-hidden;
}

.modal {
  @apply w-1/2 min-h-80 absolute -translate-y-2/4 -translate-x-2/4 bg-slate-900 p-4 rounded-lg shadow-slate-600;
}
.backdrop {
  @apply w-screen h-screen fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center;
}
.modal__header {
  @apply flex items-center justify-center mb-1 pb-1 border-b-slate-600;
}
.icon {
  @apply w-2 h-2;
}
.modal__header .close {
  @apply text-slate-600;
}

.cart {
  @apply w-6 h-6 text-white font-bold cursor-pointer relative;
}
.cart_badge {
  @apply flex justify-center items-center text-white mb-6 ml-3 absolute text-xs font-medium bg-pink-600 w-4 h-4 rounded-full;
}

.login {
  @apply w-6 h-6 text-white font-bold cursor-pointer relative;
}
.category-item {
  @apply cursor-pointer text-lg hover:font-semibold;
}
.category-item.active {
  @apply text-violet-700 font-bold;
}
